body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #011841a5;
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  font-size: 1.5rem;
  color: aqua;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 1rem 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 1rem;
}

header {
  background-color: #05f;
  color: white;
  text-align: center;
  border-bottom: 5px ridge aqua;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.price, .original, .discount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
  text-align: center;
  padding: 0.25rem;
  width: auto;
}

.price {
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(0, 255, 0);
  animation: flash-green 1s infinite alternate;
}

@keyframes flash-green {
  0% {
    scale: 1;
    filter: brightness(1);
  }
  100% {
    scale: 1.2;
    filter: brightness(0.8);
  }
}

.addCart {
  color: aqua;
  animation: flash-aqua 1s infinite alternate;
  font-size: 1.25rem;
}

.original {
  font-style: italic;
  color: red;
  text-decoration: line-through;
  animation: flash-red 1s infinite alternate;
  font-size: 1.25rem;
}

@keyframes flash-red {
  0% {
    scale: 1;
    filter: brightness(1);
  }
  100% {
    scale: 1.2;
    filter: brightness(0.8);
  }
}

.discount {
  font-style: italic;
  color: yellow;
  animation: flash-yellow 1s infinite alternate;
  font-size: 1.5rem;
}

@keyframes flash-yellow {
  0% {
    scale: 1;
    filter: brightness(1);
  }
  100% {
    scale: 1.2;
    filter: brightness(0.8);
  }
}

img {
  object-fit: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  margin: 0 auto;
}

.cartItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem auto;
  text-align: center;
  padding: 0.25rem;
  width: auto;
}

.cart-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.product {
  border: 2px solid rgba(0, 0, 0, 0.525);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem auto;
}

button:hover {
  background-color: #61dafb;
  color: black;
  scale: 1.02;
}

button:active {
  background-color: #115a6e;
  color: aqua;
  scale: 1;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

footer {
  background-color: #0055ff;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 5px ridge aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: 1fr;
  }

  .price, .original, .discount {
    width: 80%;
  }

  img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .price, .addCart, .original, .discount {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.25rem;
  }

  button {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .price, .addCart, .original, .discount {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    padding: 0.25rem;
  }

  img {
    height: 150px;
  }
}

@media (max-width: 352px) {
  .price, .addCart, .original, .discount {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.75rem;
  }

  button {
    padding: 0.25rem;
  }

  img {
    height: 100px;
  }
}
